[submodule "template"]
	path = markdown-template
	url = git@www-git.prevnet:documentos/markdown-template.git
	branch = master
[submodule "crie-conteudo-nao-leiaute"]
	path = crie-conteudo-nao-leiaute
	url = git@www-git.prevnet:adriano.vieira/crie-conteudo-nao-leiaute.git
	branch = master
