[submodule "markdown-template"]
	path = markdown-template
	url = http://www-git.prevnet/documentos/markdown-template.git
	branch = master
[submodule "crie-conteudo-nao-leiaute"]
	path = crie-conteudo-nao-leiaute
	url = http://www-git.prevnet/adriano.vieira/crie-conteudo-nao-leiaute.git
	branch = master
